@import "tailwindcss";

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-space: 'Space Grotesk', sans-serif;
}
*{
  

}



body {
    
   @apply bg-transparent;
  font-family: var(--font-space);
}
h1, h2, h3 {
  font-family: var(--font-playfair);
}
